/* Coolors Exported Palette - https://coolors.co/c0c0c0-d3d3d3-e9e9e9-b7e3d8-84dcc6-91eacc-a5ffd6-ffa69e-ff8785-ff7878 */

/* CSS HEX */
--silver: #c0c0c0ff;
--light-gray: #d3d3d3ff;
--platinum: #e9e9e9ff;
--middle-blue-green: #b7e3d8ff;
--middle-blue-green-2: #84dcc6ff;
--magic-mint: #91eaccff;
--aquamarine: #a5ffd6ff;
--melon: #ffa69eff;
--congo-pink: #ff8785ff;
--light-coral: #ff7878ff;

/* CSS HSL */
--silver: hsla(0, 0%, 75%, 1);
--light-gray: hsla(0, 0%, 83%, 1);
--platinum: hsla(0, 0%, 91%, 1);
--middle-blue-green: hsla(165, 44%, 80%, 1);
--middle-blue-green-2: hsla(165, 56%, 69%, 1);
--magic-mint: hsla(160, 68%, 74%, 1);
--aquamarine: hsla(153, 100%, 82%, 1);
--melon: hsla(5, 100%, 81%, 1);
--congo-pink: hsla(1, 100%, 76%, 1);
--light-coral: hsla(0, 100%, 74%, 1);

/* SCSS HEX */
$silver: #c0c0c0ff;
$light-gray: #d3d3d3ff;
$platinum: #e9e9e9ff;
$middle-blue-green: #b7e3d8ff;
$middle-blue-green-2: #84dcc6ff;
$magic-mint: #91eaccff;
$aquamarine: #a5ffd6ff;
$melon: #ffa69eff;
$congo-pink: #ff8785ff;
$light-coral: #ff7878ff;

/* SCSS HSL */
$silver: hsla(0, 0%, 75%, 1);
$light-gray: hsla(0, 0%, 83%, 1);
$platinum: hsla(0, 0%, 91%, 1);
$middle-blue-green: hsla(165, 44%, 80%, 1);
$middle-blue-green-2: hsla(165, 56%, 69%, 1);
$magic-mint: hsla(160, 68%, 74%, 1);
$aquamarine: hsla(153, 100%, 82%, 1);
$melon: hsla(5, 100%, 81%, 1);
$congo-pink: hsla(1, 100%, 76%, 1);
$light-coral: hsla(0, 100%, 74%, 1);

/* SCSS RGB */
$silver: rgba(192, 192, 192, 1);
$light-gray: rgba(211, 211, 211, 1);
$platinum: rgba(233, 233, 233, 1);
$middle-blue-green: rgba(183, 227, 216, 1);
$middle-blue-green-2: rgba(132, 220, 198, 1);
$magic-mint: rgba(145, 234, 204, 1);
$aquamarine: rgba(165, 255, 214, 1);
$melon: rgba(255, 166, 158, 1);
$congo-pink: rgba(255, 135, 133, 1);
$light-coral: rgba(255, 120, 120, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);
$gradient-right: linear-gradient(90deg, #c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);
$gradient-bottom: linear-gradient(180deg, #c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);
$gradient-left: linear-gradient(270deg, #c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);
$gradient-top-right: linear-gradient(45deg, #c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);
$gradient-bottom-right: linear-gradient(135deg, #c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);
$gradient-top-left: linear-gradient(225deg, #c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);
$gradient-bottom-left: linear-gradient(315deg, #c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);
$gradient-radial: radial-gradient(#c0c0c0ff, #d3d3d3ff, #e9e9e9ff, #b7e3d8ff, #84dcc6ff, #91eaccff, #a5ffd6ff, #ffa69eff, #ff8785ff, #ff7878ff);